@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-default {
    @apply bg-default-600 hover:bg-default-500 active:bg-default-700 text-white disabled:text-gray-300 disabled:bg-default-800;
  }

  .button-highlight {
    @apply bg-highlight hover:bg-highlight-! active:bg-highlight-deep text-white disabled:text-gray-300 disabled:bg-highlight-dark;
  }
  .button-danger {
    @apply text-white bg-red-600 hover:bg-red-500 active:bg-red-700 disabled:bg-red-800;
  }

  .button-ghost {
    @apply button-default bg-transparent;
  }
}
